.side{
    width : 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2A2D32;
    font-size : 1.2rem  !important;
    overflow-y: scroll auto;
    color : #fff
    
  }